*{
    text-align: center;
}

header{
    height: 10vh;
}

button{
    border: solid black 1px;
    border-radius: 5px;
    background-color: transparent;
}

#mas{
    height: 2em;
    width: 2em;
}

.signIn{
    background-color: cornflowerblue;
    border-color: rgba(0, 0, 0, 0.13);
    color: white;
    width: 4em;
    height: 2em;
}

.containerGoogle{
    height: 80vh;
}

footer{
    height: 10vh;
    font-size: 0.7em;
}

input{
    text-align: start;
}

/* ---------------------------------GOOGLE------------------------------- */

.g{
    font-size: 6em;
}

.google{
    font-size: 4em;
}

    .blue{
        color: cornflowerblue;
    }
    
    .red{
        color: rgb(228, 83, 57);
    }

    .yellow{
        color: rgb(241, 209, 68);
    }

    .green{
        color: rgb(44, 158, 93);
    }